@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Junka-Regular";
    src: url("/font/Jungka-Regular.otf") format(".otf");
  }
  @font-face {
    font-family: "Junka-Bold";
    src: url("/font/Jungka-Bold.otf") format(".otf");
  }
  @font-face {
    font-family: "Junka-Medium-Regular";
    src: url("/font/Jungka-Medium-Regular.otf") format(".otf");
  }
  @font-face {
    font-family: "Junka-Book";
    src: url("/font/Jungka-Book.otf") format(".otf");
  }
}
